<h1 id ='hello_world' > Hello, world мир </h1>

<div class="hrefs">
  <p >Ссылка 1</p>
  <p >Ссылка 1</p>
  <p >Ссылка 1</p>
  <p >Ссылка 1</p>
  <p >Ссылка 1</p>
  <p class="subgroup">Ссылка 1</p>
  <p class="subgroup">Ссылка 8</p>
</div>
